*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
    font-family: 'Poppins', sans-serif;
  }
  
  html{
    scroll-behavior: smooth;
  }
  
  body{
    overflow-x: hidden;
  }

  .bg_1{
    background-image:url("../img/about_us_bg.png");
    min-height: 25vh;
    color: #F2F7FF;
  }

  .our_program{
    min-height: 50vh;
    background-color: #AD8BF7;
  }
  .program_bg img{
    background-color: #AD8BF7;
    border: none;
    border-color: #AD8BF7;
  }

   .program_info{
     background-color: #F2F7FF;
   }

   .program_info h3{
     color: #854DFF;
     text-decoration: underline;
   }

   .story_info{
     background-color: #F2F7FF;
   }

   .story_info h3{
    color: #854DFF;
    text-decoration: underline;
  }

  .story_bg img{
    background-color: #AD8BF7;
    border: none;
    border-color: #AD8BF7;
  }

  .vision_info{
    background-color: #F2F7FF;
  }

  .vision_info h3{
   color: #854DFF;
   text-decoration: underline;
 }

 .vision_bg img{
  background-color: #AD8BF7;
  border: none;
  border-color: #AD8BF7;
}

.price{
  background-color: #AD8BF7;
}

.price h3{
  color: #F2F7FF;
    text-decoration: underline;
}

.price .card{
  background-color: #2C1A55;
}

.card h4{
  color: #F2F7FF;
}

.card h6{
  color: #854DFF;
}

.team_member{
  background-color: #AD8BF7;
}

.team_member h3{
  color: #F2F7FF;
  text-decoration: underline;
}

