*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
    font-family: 'Poppins', sans-serif;
  }
  
  html{
    scroll-behavior: smooth;
  }
  
  body{
    overflow-x: hidden;
    background-color: #AD8BF7;
  }

  .about_usH4{
      color: #F2F7FF;
      margin-left: 1rem;
  }

  .about_usH42{
      color: #F2F7FF;
      margin-left: 73rem;
  }

  .program{
      background-color: #F2F7FF;
      border-radius: 1rem;
      height: 9rem;
  }

  .program p {
      font-size: 0.9rem;
  }

  .story{
    background-color: #F2F7FF;
    border-radius: 1rem;
    height: 9rem;
  }

  .story p{
    font-size: 0.9rem;
  }

  .vision{
    background-color: #F2F7FF;
    border-radius: 1rem;
    height: 13rem;
    }


