*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
    font-family: 'Poppins', sans-serif;
  }
  
  html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

  /* about us title */
  .title{
    background-color: #AD8BF7;
    color:#2C1A55;
    text-decoration: underline;
  }
/* our program */
.program{
  background-color: #AD8BF7;
}

.program .program_content img{
  height: auto;
  width: 600px;
  max-width: 100%;
}

.program_text{
  width: 550px;
  max-width: 100%;
  padding: 0 10px;
}

.program_content{
  width: 1280px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.program_content h3{
  color: #2C1A55;
  font-size: 35px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

/* our story */
.story{
  background-color: #AD8BF7;
}

.story .story_content img{
  height: auto;
  width: 600px;
  max-width: 100%;
}

.story_text{
  width: 550px;
  max-width: 100%;
  padding: 0 10px;
}

.story_content{
  width: 1280px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.story_content h3{
  color: #2C1A55;
  font-size: 35px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

/* our vision */
.vision{
  background-color: #AD8BF7;
}

.vision .vision_content img{
  height: auto;
  width: 600px;
  max-width: 100%;
}

.vision_text{
  width: 550px;
  max-width: 100%;
  padding: 0 10px;
}

.vision_content{
  width: 1280px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.vision_content h3{
  color: #2C1A55;
  font-size: 35px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

/* pricing desktop */
#price{
  min-height: 40vh;
  align-items: center;
  justify-content: center;
  background: #AD8BF7;
  letter-spacing: 2px;
}

#price_m{
  min-height: 30vh;
  align-items: center;
  justify-content: center;
  background: #AD8BF7;
  letter-spacing: 2px;
}

#price h3,#price_m h3{
  text-decoration: underline;
  padding-top: 2rem;
  font-weight: bold;
}
.week{
  margin-top: 1rem;
}

.week .circle_heading{
  width:6.5rem;
  height: 6.5rem;
  background-color: #2C1A55;
  clip-path: circle(50%);
  padding: 3px 0;
  display: block;
  margin: auto;
}

.week .circle_heading h4{
  margin-top: 1.2rem;
  color: #F2F7FF;
  font-weight: 1000;
}

.week .circle_heading span{
  font-size: 1rem;
  padding: 0;
  color: #854DFF;

}

.team_member{
  
  background-color: #AD8BF7;
}

.team_member h3{
  color: #F2F7FF;
  text-decoration: underline;
  font-size: 35px;
}

