.blockhashprogram{
    min-height: 100vh;
    justify-content: center;
    background-color: #2C1A55;
}
/* Blockhash page stylesheet*/

.blockhashbox h2 {
    color: #854DFF;
    font-weight: 400;
    text-decoration: none;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 40px;
}

.blockhashbox p {
    color: #64D2B5;
    font-weight: 400;
    text-decoration: none;
    font-size: 24px;
}

.blockhashbox label {
    color: #F2F7FF;
    font-weight: 400;
    text-decoration: none;
    font-size: 18px;
    margin: 10px;
}

.blockhashbox hr {
    border-top: 4px dashed #64D2B5;
    width: 50%;
    margin-left: 250px;
    margin-top: 50px;
}

.blockhashbox {
    margin-left: 250px;
}

.blockhashbox input {
    border: none;
    background-color: #061551;
    color: #F2F7FF;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #F2F7FF;
    margin-top: 10px;
}

.blockhashbox input:hover {
    color: #854DFF;
}

.analyseBtn{
      font-size: 1rem;
      color: #F2F7FF;
      background-color: #854DFF;
      padding: 0.6rem 2rem;
      margin-top: 0.6rem;
      border: none;
      border-radius: 1rem;
    }

.analyseBtn:hover{
    background-color: #F2F7FF;
    color:#854DFF;
}

/* blockhash heading */
body{
  background-color: #2C1A55;
}

.upload_h3{
  color: #854DFF;
  text-align: center;
  margin-top: 2em;
  text-decoration: underline;
}

.blockhashForm h5{
  color: #F2F7FF;
  text-align: center;
  margin-top: 2em;
}

.blockhashForm label{
  color: #854DFF;
}

.blockhashForm input {
  border: none;
  background-color: #061551;
  color: #F2F7FF;
  border: 0;
  outline: 0;
  border-bottom: 2px solid #F2F7FF;
  text-align: center;
}

.blockhashForm input:hover {
  color: #854DFF;
}

  