/* blockhash heading */
body{
  background-color: #2C1A55;
}

.upload_h2{
  color: #854DFF;
  text-align: center;
  margin-top: 2em;
}

.blockhashForm h5{
  color: #F2F7FF;
  text-align: center;
  margin-top: 2em;
}

.blockhashForm label{
  color: #854DFF;
}

.input_submit{
  display: block;
  margin: auto;
  text-align: center;
}
.input_submit .input_hash{
  background-color: #2C1A55;
  color: #F2F7FF;
  border: none;
  border-bottom: 3px solid #854DFF;
  outline: none !important;
}

.input_submit .input_hash:focus{
  outline: none !important;
  color: #854DFF;
}

.input_submit .submit{
  background-color: #AD8BF7;
  color: #F2F7FF;
  padding: 0.2rem 0.7rem;
  border-radius: 0.4rem;
}
