.history{
    min-height: 100vh;
    justify-content: center;
    background-image: url("../img/background1.png");
    background-size: cover;
}
/* Report page stylesheet*/
.history h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    color: #F2F7FF;
    padding: 30px;
}

.history strong {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  color: #AD8BF7;
  padding: 15px;
}

.history p {
  font-family: 'Poppins', sans-serif;
  color: black;
  padding: 5px 15px 5px 15px;
}

.history a {
  font-family: 'Poppins', sans-serif;
  color: #F2F7FF;
  padding: 15px;
  background-color: #2C1A55;
  border-radius: 10px;
  margin: 15px;
}

.history .report {
  background-color: #F2F7FF;
  margin: 15px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
}

#myModal{
    padding-top: 5rem;
  }

  .modal-content{
    background-color: #AD8BF7;
    color: aliceblue;
  }

  .hr1{
    color: #2C1A55;
  }
  .mbtns{
    color: aliceblue;
    background-color: #2C1A55;
    padding: 0.4rem 1rem;
    border-radius: 0.9rem;
    border: none;
  }

  .mbtns:hover{
    color: #2C1A55;
    background-color: aliceblue;
  }