  *{
    margin: 0; padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
    font-family: 'Poppins', sans-serif;
  }
  
  html{
    scroll-behavior: smooth;
  }
  
  body{
    overflow-x: hidden;
  }
  
  #home,#how_it_work{
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    background: #AD8BF7;
    background-image: url("../img/background2.png");
    letter-spacing: 2px;
  }
  
  #about,#subscription{
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    background: #2C1A55;
    background-image: url("../img/background1.png");
    background-size: cover;
  }
  
  .navBar2{
    position: fixed;
    top:50%; right:40px;
    transform: translateY(-50%);
    z-index: 1000;
  }
  
  .navBar2 ul{
    list-style: none;
    padding:0; margin: 0;
  }
  
  .navBar2 ul li{
    width: 200px;
    position: relative;
    text-align: right;
  }
  
  .navBar2 ul li .dot{
    color:#AD8BF7;
    display: block;
    padding:5px 0;
  }
  
  .navBar2 ul li .dot span{
    display: inline-block;
    background: #fff;/*box*/
    letter-spacing: 1px;
    padding:10px 25px;
    margin-right: 30px;
    border-radius: 3px;
    transform: translateX(30px);
    opacity: 0;
  }
  
  .navBar2 ul li:hover .dot span{
    transform: translateX(0px);
    opacity: 1;
  }
  
  .navBar2 ul li .dot span::before{
    content: '';
    position: absolute;
    top:50%; right:0;
    transform: translate(7px, -50%);
    border-left: 7px solid #fff; /*arrow*/
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    display: block;
  }
  
  .navBar2 ul li .dot::before,
  .navBar2 ul li .dot::after{
    content: '';
    position: absolute;
    top:50%;
    border-radius: 50%;
    display: block;
    transition: .2s ease-out;
  }
  
  .navBar2 ul li .dot::before{
    height:5px;
    width: 5px;
    border: 2px solid rgb(255, 255, 255);
    right:0;
    transform: translateY(-50%);
  }
  
  .navBar2 ul li .dot.active::before,
  .navBar2 ul li:hover .dot::before{
    border-color: #fff;
    background: #fff;
  }
  
  .navBar2 ul li .dot::after{
    height:15px;
    width: 15px;
    border: 2px solid #fff;
    right:-5px;
    transform: translateY(-50%) scale(0);
  }
  
  .navBar2 ul li .dot.active::after,
  .navBar2 ul li:hover .dot::after{
    transform: translateY(-50%) scale(1);
  }

  /*sign_up*/
  #home h1{
    font-size: 50px;
  }

 #home a{
   background-color: #2C1A55;
   color: white;
   border-radius: 30px;
   padding: 10px 40px;
 }

 #home a:hover{
   background-color: white;
   color: #2C1A55;
 }
  /*about*/
  #about h5{
    color: #854DFF;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  #about p{
    font-size: 16px;
    color: #fff;
  }

  /*how it work*/
  #how_it_work h4{
    color: #2C1A55;
    text-decoration: underline;
    font-size: 35px;
    padding-top: 20px;
  }

  #how_it_work h5{
    color: #fff;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  #how_it_work p{
    font-size: 16px;
    color: #2C1A55;
  }
  
  /*subscription*/
  #subscription h4{
    color:#854DFF;
  }

  #subscription a{
    background-color: #854DFF;
    color: white;
    border-radius: 30px;
    padding: 10px 40px;
  }

  #subscription a:hover{
    background-color: white;
    color: #854DFF;
  }

  /*history page*/
  .history{
    min-height: 100vh;
    justify-content: center;
    background-image: url("../img/background2.png");
    background-size: cover;
  }

  .history h4{
    color: aliceblue;
    margin-left: 5rem;
    font-size: 2rem;
  }

  .history .row1{
    padding: 1rem 2rem;
  }

  .history .row2{
    padding: 0rem 6rem;
  }

  .row2 .report{
    background-color: aliceblue;
    border-radius: 2rem;
    width: 35rem;
    height: 13rem;
  }

  .report h5{
    margin-left: 1rem; 
    padding-top: .5rem;
    color: #854DFF;
  }

  .report p{
    margin-left: 1rem; 
  }

  .report a{
    position: fixed;
    margin-left: 29rem;
    margin-top: 5.6rem;
  }
  .row2 .report2{
    background-color: aliceblue;
    border-radius: 2rem;
    width: 35rem;
    height: 13rem;
    margin-left: 2rem;
  }

  .report2 h5{
    margin-left: 1rem; 
    padding-top: .5rem;
    color: #854DFF;
  }

  .report2 p{
    margin-left: 1rem; 
  }

  .report2 a{
    position: fixed;
    margin-left: 29rem;
    margin-top: 5.6rem;
  }

  #myModal{
    padding-top: 5rem;
  }

  .modal-content{
    background-color: #AD8BF7;
    color: aliceblue;
  }

  .hr1{
    color: #2C1A55;
  }
  .mbtns{
    color: aliceblue;
    background-color: #2C1A55;
    padding: 0.4rem 1rem;
    border-radius: 0.9rem;
    border: none;
  }

  .mbtns:hover{
    color: #2C1A55;
    background-color: aliceblue;
  }