@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/*Edit Style in all of HEADER which is the Navigation Bar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*logo*/
.logo{
    background-color: #F2F7FF;
}

.logo h1{
    background-color: #F2F7FF;
}

.logo .hash{
    color: #854DFF;
}

.logo .hash b{
    background-color: #F2F7FF;
}

/*nav bar*/
.nav1{
    background-color: #061551;
}

.nav1 nav{
    background-color: #061551;
}

/*Edit Style in class nav_links which is the Navigation Bar */
.nav__links li,a {
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
}

.nav__links :hover {
    color: #854DFF;
}
.nav__links li {
    background-color: #061551;
    display: inline-block;
    padding: 0px 10px;
    color: #F2F7FF;
}

.nav__links li a{
    color: #F2F7FF;
}

/*logIn button*/
.logInBtn{
    background-color: #061551;
    color: #854DFF;
    border: none;
}

/*footer*/
.fixed__footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color:#854DFF;
    font-size: 14px;
    text-align: center;
}
