@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.cancelbtn {
    width: 50px;
    height: 30px;
    margin-left: 950px;
    margin-top: 40px;
}

.cancelbtn img {
    width: 100%;
    height: auto;
}

.loginbox {
    padding: 40px 40px 400px 40px;
    margin-left: 500px;
    margin-top: 30px;
}

.loginbox h1 {
    font-size: 40px;
    font-weight: 700;
    margin-left: 100px;
}

.loginbox h2 {
    font-size: 15px;
    padding-top: 20px;
    padding-left: 70px;
    padding-bottom: 20px;
}

.loginbox p {
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.loginbox input {
    border: 1px solid #000;
    color: grey;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.loginbox input:hover {
    color: #000;
    border: 2px solid #000;
}

.loginbox .loginbtn {
    background-color: #000;
    color: #F2f7FF;
    border-radius: 40px;
    width: 350px;
    margin-top: 40px;
}

.loginbox .loginbtn:hover {
    background-color: #F2f7FF;
    color: #000;
    border: 1px solid #000;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}