body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
  }
  .container{
    max-width: 700px;
    background-color: #fff;
    padding: 25px 30px;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(135deg, #2C1A55, #AD8BF7) 1;
    box-shadow: 0 10px 10px rgba(0,0,0,0.25);
  }
  .container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
  }
  .container .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 90px;
    border-radius: 5px;
    background: linear-gradient(135deg, #AD8BF7, #2C1A55);
  }
  .content form .user-details{
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  form .user-details .input-box{
    margin-bottom: 15px;
  }
  form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  .user-details .input-box input:focus,
  .user-details .input-box input:valid{
    border-color: #854DFF;
  }

  form .button{
    height: 45px;
    margin: 35px 0
  }
  form .button input{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #AD8BF7, #854DFF);
  }
  form .button input:hover{
   /* transform: scale(0.99); */
   background: linear-gradient(-135deg, #AD8BF7, #2C1A55);
   }

   .cancelbtn {
    transform: translateY(-200px);
}