.program{
    min-height: 100vh;
    justify-content: center;
    background-color: #2C1A55;
}
/* Program page stylesheet*/

.programbox h2 {
    color: #854DFF;
    font-weight: 400;
    text-decoration: none;
    padding-top: 40px;
    padding-bottom: 40px;
}

.programbox hr {
    border-top: 4px dashed #64D2B5;
    width: 50%;
    margin-left: 250px;
    margin-top: 50px;
}

.uploadhashbox {
    margin-left: 250px;
}

.uploadhashbox input {
    border: none;
    background-color: #061551;
    color: #F2F7FF;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #F2F7FF;
}

.uploadhashbox input:hover {
    color: #854DFF;
}

.uploadhashbox span {
    color: #64D2B5;
}

.uploadsourcecodebox {
    margin-left: 250px;
}

.uploadsourcecodebox .fileUpload {
    background-color: #F2F7FF;
    color: #000;
    border-radius: 5px;
    padding: 15px;
    font-weight: 700;
    margin-top: 20px;
}

.analyseBtn{
      font-size: 1rem;
      color: aliceblue;
      background-color: #854DFF;
      padding: 0.6rem 2rem;
      margin-top: 0.6rem;
      border: none;
      border-radius: 1rem;
    }

.analyseBtn:hover{
    background-color: aliceblue;
    color:#854DFF;
}

#myModal{
    padding-top: 5rem;
  }

  .modal-content{
    background-color: #AD8BF7;
    color: aliceblue;
  }

  .hr1{
    color: #2C1A55;
  }
  .mbtns{
    color: aliceblue;
    background-color: #2C1A55;
    padding: 0.4rem 1rem;
    border-radius: 0.9rem;
    border: none;
  }

  .mbtns:hover{
    color: #2C1A55;
    background-color: aliceblue;
  }

  body{
      background-color: #2C1A55;
  }
  
  .program_h{
    color: #854DFF;
    text-align: center;
    margin-top: 2em;
    
  }

  .input_submit{
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 1.5rem;
  }
  .input_submit .input_hash{
    background-color: #2C1A55;
    color: #F2F7FF;
    border: none;
    border-bottom: 3px solid #854DFF;
    outline: none !important;
    margin-left: 1em;
  }
  
  .input_submit .input_hash:focus{
    outline: none !important;
    color: #854DFF;
  }

  .input_submit .submit{
    background-color: #AD8BF7;
    color: #F2F7FF;
    padding: 0.2rem 0.7rem;
    border-radius: 0.4rem;
  }
  
  /* source code upload */
  .program_h1{
    color: #854DFF;
    text-align: center;
    margin-top: 1em;
    
  }
  
  .fileUpload{
      display: block;
      margin: auto;
      color: #AD8BF7;
      margin-top: 0.5rem;
  }

  .analyse{
    display: block;
    margin: auto;
    margin-top: -0.5rem;
    color: #F2F7FF;
    background-color: #AD8BF7;
    padding: 0.5rem 1.5rem;
    outline: none;
    border: none;
    border-radius: 0.8rem;
  }

  hr{
      border-top: 3px dashed white;
      width: 40rem;
      
      display: block;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: auto;
      margin-top: 2rem;
  }
  