.program{
    min-height: 100vh;
    justify-content: center;
    background-image: url("../img/background1.png");
    background-size: cover;
}
/* Program page stylesheet*/

.programbox h2 {
    color: #854DFF;
    font-weight: 400;
    text-decoration: none;
    padding-top: 40px;
    padding-bottom: 40px;
}

.programbox hr {
    border-top: 4px dashed #64D2B5;
    width: 50%;
    margin-left: 250px;
    margin-top: 50px;
}

.uploadhashbox {
    margin-left: 250px;
}

.uploadhashbox input {
    border: none;
    background-color: #061551;
    color: #F2F7FF;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #F2F7FF;
}

.uploadhashbox input:hover {
    color: #854DFF;
}

.uploadhashbox span {
    color: #64D2B5;
}

.uploadsourcecodebox {
    margin-left: 250px;
}

.uploadsourcecodebox input {
    background-color: #F2F7FF;
    color: #000;
    border-radius: 5px;
    padding: 15px;
    font-weight: 700;
    margin-top: 20px;
}

#myModal{
    padding-top: 5rem;
  }

  .modal-content{
    background-color: #AD8BF7;
    color: aliceblue;
  }

  .hr1{
    color: #2C1A55;
  }
  .mbtns{
    color: aliceblue;
    background-color: #2C1A55;
    padding: 0.4rem 1rem;
    border-radius: 0.9rem;
    border: none;
  }

  .mbtns:hover{
    color: #2C1A55;
    background-color: aliceblue;
  }