@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/*Edit Style in all of HEADER which is the Navigation Bar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*logo*/
.logo{
    background-color: #F2F7FF;
}

.logo h1{
    background-color: #F2F7FF;
}

.logo .hash{
    color: #854DFF;
}

.logo .hash b{
    background-color: #F2F7FF;
}

/*nav bar*/
.nav{
    background-color: #061551;
}

.nav nav{
    background-color: #061551;
}

/*Edit Style in class nav_links which is the Navigation Bar */
li,a {
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
}
.nav__links{
    list-style: none;
    background-color: #061551;
}
.nav__links :hover {
    color: #854DFF;
}
.nav__links li {
    background-color: #061551;
    display: inline-block;
    padding: 0px 10px;
    color: #F2F7FF;
}

.nav__links li a{
    color: #F2F7FF;
}

/*logIn button*/
.logInBtn{
    background-color: #061551;
    color: #854DFF;
    border: none;
}

/*footer*/
.fixed__footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color:#854DFF;
    font-size: 14px;
    text-align: center;
}

/* Report page stylesheet*/
.reportbackground {
    background-color: #061551;
    padding-top: 20px;
    padding-bottom: 60px;
}

.reportbox {
    background-color: #F2F7FF;
    padding: 30px 40px 400px 50px;
    margin: 20px 100px 100px 100px;
    border-radius: 40px;
}

.reportbox h1 {
    color: #854DFF;
    font-weight: 400;
    text-decoration: none;
    padding-top: 40px;
    padding-bottom: 40px;
}

.reportbox table{
    border: 1px solid black;
    width: 80%;
    text-align: center;
    border-collapse: collapse;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.reportbox th {
    background-color: #854DFF;
    color: #F2F7FF;
    border: 1px solid black;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    padding: 10px;
}

.reportbox td {
    border: 1px solid black;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    padding: 10px;
}

.reportbox button {
    background-color: #061551;
    color: #F2F7FF;
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    border: none;
    position: relative;
    left: 1100px;
}