*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
    font-family: 'Poppins', sans-serif;
  }
  
  html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
  
  #home,#subscription{
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    background: #AD8BF7;
    letter-spacing: 2px;
  }

  #how_it_work{
    min-height: 60vh;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    background: #2C1A55;
    background-size: cover;
  }
  
  /* home for mobile view */
  #home_m,#subscription_m{
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #AD8BF7;
    letter-spacing: 2px;
  }

/*sign_up*/
  #home h1{
    font-size: 50px;
  }

 #home a{
   background-color: #2C1A55;
   color: #F2F7FF;
   border-radius: 30px;
   padding: 10px 40px;
 }
 
 #home a:hover{
   background-color: #F2F7FF;
   color: #2C1A55;
 }
/*sign_up ends*/

/*how it work*/
  #how_it_work h4{
    color: #854DFF;
    text-decoration: underline;
    font-size: 35px;
    padding-top: 20px;
  }

  #how_it_work h5{
    color: #F2F7FF;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #AD8BF7;
    border-radius: 1rem;
  }

  #how_it_work p{
    font-size: 16px;
    color: #F2F7FF;
  }


/*how it work end*/

/*subscription*/
  #subscription h4{
    color:#2C1A55;
  }

  #subscription a{
    background-color: #854DFF;
    color: #F2F7FF;
    border-radius: 30px;
    padding: 10px 40px;
  }

  #subscription a:hover{
    background-color: #F2F7FF;
    color: #854DFF;
  }
/*subscription ends*/

/*sign_up for mobile view*/
#home_m h1{
  font-size: 2rem;
}

#home_m a{
 background-color: #2C1A55;
 color: #F2F7FF;
 border-radius: 30px;
 padding: 10px 40px;
}
/*sign_up for mobile view* ends/

#home_m a:hover{
 background-color: #F2F7FF;
 color: #2C1A55;
}

/*how it work for mobile view*/
#how_it_work_m{
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  background: #2C1A55;
  background-size: cover;
}

  #how_it_work_m h4{
    color: #854DFF;
    text-decoration: underline;
    font-size: 35px;
    padding-top: 20px;
  }

  #how_it_work_m h5{
    color: #F2F7FF;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #AD8BF7;
    border-radius: 1rem;
  }

  #how_it_work_m p{
    font-size: 16px;
    color: #F2F7FF;
  }

/*how it work for mobile view end*/

/* subscription mobile view */
  .subscription_m{
    min-height: 30vh;
    background: #AD8BF7;
  }

  .subscription_m h4{
    display: flex;
    justify-content: center;
    color: #2C1A55;
    font-size: 2rem;
    text-decoration: underline;
    padding: 1rem;
  }

  .subscription_m .f_name{
    width: 11rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
  }

  .subscription_m .l_name{
    width: 11rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
  }

  .subscription_m .email{
    width: 22.3rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
  }

  .subscription_m .subscribe_btn{
    text-align: center;
    margin: auto;
    width: 10rem;
    border-radius: 0.7em;
    border: #854DFF;
    background-color: #854DFF;
    color: aliceblue;
  }

  .subscription_m .subscribe_btn:hover + :active{
    background-color:#2C1A55;
  }
/* subscription mobile view end*/